<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/site.css' %}">
</head>
<body>
<form class="form-inline" method="POST" action="/edit_user/{{ user.id }}">
  {% csrf_token %}
  <label for="name">Name</label>
  <input name="name" id="name" value="{% if user %}{{ user.name }}{% endif %}" required />
  <label for="language">Language</label>
  <input name="language" id="language" value="{% if user %}{{ user.language }}{% endif %}" required />
  <label for="course">Course</label>
  <input name="course" id="course" value="{% if user %}{{ user.course }}{% endif %}" />
  <label for="grade">Grade</label>
  <input name="grade" id="grade" value="{% if user %}{{ user.grade }}{% endif %}" />
  <button type="submit" class="btn btn-default">Submit</button>
  <h1> {{user}}</h1>
</form>

</body>
</html>